@using CarClinic.Models

@model LoginModel

@{
    Layout = null;
    ViewData["title"] = "Acesso ao portal CarClinic";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-sm">

        @{
            if(TempData["ErroValidadeLogin"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErroValidadeLogin"]
                </div>
            }
        }

        <div class="row" style="margin-top: 200px;">
            <div class="col-sm-6">
                <h1 class="text-center">@ViewData["title"]</h1>
                <img src="~/img/enter-otp-animate.svg" class="img-fluid" />
            </div>
            <div class="col-sm-6">
                <h2 class="text-center">Entre com seu login e senha para ter acesso a todos os serviços da CarClinic</h2>
                <form method="post" asp-controller="Login" asp-action="Entrar">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="text" name="Email" id="email" class="form-control" />
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" name="Senha" id="senha" class="form-control" />

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Acessar</button>
                        <button onclick="fecharJanela()" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
